body {
  background: rgb(144, 96, 24);
  line-height: 1.5;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
}

section {
  position: relative;
  width: 1000px;
  background: url(/bg_main.png) repeat-y center top;
  margin: 0px auto 0px;
  padding: 0px 15px;
}

article {
  padding: 10px;
}

nav {
  padding: 0.75em;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  background: rgb(191, 191, 115);
  float: right;
  margin: 1.5em 3em 1.5em 1.5em;
}

p {
  margin: 0px 0px 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  color: rgb(34, 34, 34);
  line-height: 22px;
  font-size: 100%;
  vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6 {
  padding-left: 1em;
  padding-right: 2em;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
  color: rgb(34, 34, 34);
}

h1 {
  font-size: 2em;
}

h2 {
  font-family: Cambria, Georgia, serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}

ul, ol {
  margin: 20px;
}

li {
  margin: 0px 0px 1.5em;
  padding-left: 0em;
  padding-right: 0em;
  color: rgb(34, 34, 34);
  font-size: 100%;
}

nav ul {
  list-style-type: none;
}

a:link {
  text-decoration: none;
  color: rgb(156, 44, 22);
  margin: 0px;
  padding: 5px;
}

a:visited {
  color: rgb(156, 44, 22);
}

a:hover {
  text-decoration: underline;
}

#main {
  background: url(/bg_header.png) no-repeat center top;
  width: 1000px;
  height: 185px;
  margin: 7px auto 0px;
  padding: 0px 15px;
  position: relative;
  text-align: left;
  display: block;
}

#main-logo {
  display: block;
  position: absolute;
  top: 9px;
  right: 190px;
  width: 441px;
  height: 101px;
}

aside {
  width: 984px;
  margin: 0 auto;
  padding: 25px 8px 1px;
  text-align: center;
  background: url(/footer_bg.png) repeat-y;
  background-color: rgb(245, 209, 91);
  color: rgb(178, 85, 39);
}

#main_to_aside {
  width: 1000px;
  height: 21px;
  line-height: 1px;
  font-size: 1px;
  margin: 0px auto;
  padding: 1px 0;
  background: url(main_to_aside_bg.png);
  background-color: rgb(132, 177, 46);
  clear: both;
}

#above_footer {
  width: 1000px;
  height: 29px;
  margin: 0 auto;
  padding: 0px;
  font-size: 88%;
  color: rgb(68, 68, 68);
  background: url(above_footer_bg.png);
}

footer {
  font-size: 88%;
  color: rgb(68, 68, 68);
  text-align: center;
  padding-top: 1em;
}

footer a {
  color: rgb(68, 68, 68);
  text-decoration: underline;
}

footer a:hover, footer a:focus, footer a:active {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}
